.card, .card-body {
  text-align: center;
  width: 80%;
  margin: auto;
}

.flex-box-container-cat, .flex-box-cat-person-catnip, .btn-replay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;

}

.flex-box-cat-person-catnip {
  justify-content: space-between;
}

.flex-box-container-cat img {
  box-shadow: 8px 7px 25px 3px rgba(0,0,0,0.75);
  margin:10px;
}

.flex-box-cat-person-catnip img:hover {
  margin: 5px;
  box-shadow: 2px 3px 14px 6px #2440FF;
}

.btn-replay {
  padding-top: 50px;
}
