body {
  background-image: url(/static/images/cat-dog.png);

  background-attachment: fixed;
  background-position: bottom center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
}
