{% extends 'pet_health_tracker/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="card border-success">
  <div class="card-body mb-2 pt-4">
    <legend class="border-bottom mb-4">Log into your account</legend>
    <form action="{% url 'users:login' %}" method="post">
      {% csrf_token %}
      {{ form|crispy }}

      <button class= "btn btn-primary" name="submit">Log in</button>
      <input type="hidden" name="next" value="{% url 'pet_health_tracker:pet_names' %}" />

    </form>
  </div>
  <div class="border-top pt-2 mb-3 ps-3">
    <small class="text-muted">
        Don't Have An Account? <a class="ml-2" href="{% url 'users:register' %}">Sign Up</a>
    </small>
  </div>
</div>


{% endblock content %}
