{% extends 'pet_health_tracker/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add pet {% endblock title %}

{% block content %}

<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-secondary" href="{% url 'pet_health_tracker:pet_names' %}" >Home</a>
</div>

  <form action="{% url 'pet_health_tracker:add_pet' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}

      <button class="btn btn-primary" name="submit">Add pet</button>


  </form>



{% endblock content %}
