{% extends 'pet_health_tracker/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add pet {% endblock title %}

{% block content %}
<div class="card border-success">
  <div class="card-header pt-4">

      <a class="btn btn-primary" href="{% url 'pet_health_tracker:pet_names' %}" >Home</a>
    
  </div>

  <div class="card-body mb-2 pt-4">
    <form action="{% url 'pet_health_tracker:add_pet' %}" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <br>
        <button class="btn btn-secondary" name="submit">Add pet</button>


    </form>
  </div>
</div>


{% endblock content %}
