{% extends 'pet_health_tracker/base.html' %}

{% block title %}
  {{pet_name.pet_name}}
{% endblock title %}


{% block content %}

<a href="{% url 'pet_health_tracker:pet_names' %}" class="btn btn-outline-primary">Home</a>

<h3>Are you sure you want to delete your pet information for {{pet_name}}?</h3>

  <form action="{% url 'pet_health_tracker:delete_pet_name' pet_name.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

        <button class="btn btn-danger" name="submit">Delete</button>

  </form>



{% endblock content %}
