{% extends 'pet_health_tracker/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {{pet_name.pet_name}}
{% endblock title %}

{% block content %}

<a href="{% url 'pet_health_tracker:pet_names' %}" class="btn btn-outline-primary">Home</a>
<a href="{% url 'pet_health_tracker:pet_health' pet_name.id %}" class="btn btn-outline-success">{{ pet_name.pet_name }}'s Info</a>
<br>
<br>
  <form action="{% url 'pet_health_tracker:edit_pet_name' pet_name.id %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}

        <button class="btn btn-outline-secondary" name="submit">Save changes</button>

  </form>

<a href="{% url 'pet_health_tracker:delete_pet_name' pet_name.id %}" class="btn btn-outline-danger">Delete Info</a>

{% endblock content %}
