{% extends 'pet_health_tracker/base.html' %}
{% load static %}



{% block content %}

<div class="jumbotron">
  <div class="card border-success">
    <div class="card-header">
      <h1 class="display-2 pt-1 mb-2 ps-3">Track your pet's health.</h1>
    </div>
    <div class="card-body mb-3 pt-4">
      <p class="lead">Track your pet's weight, temperature, appetite and more daily with easy forms.  See your pet's information displayed with charts and get specials notes.
        </p>
      <a class="btn btn-lg btn-primary mt-2 ps-3" href="{% url "users:register" %}"
        role="button">Register &raquo;</a>
      </div>
    </div>
</div>



{% endblock content %}
