{% load static %}
{% extends 'pet_health_tracker/base.html' %}

{% block title %}
  {{ pet.name }}
{% endblock title %}

{% block content %}
  <a class="btn btn-primary" href= "#">Add Health Form</a>

  {% for health in health_trackers %}
  <div class="card mb-3">
    <h4 class="card-header">
      {{ health.date_added|date:'M d, Y H:i' }}
      <small><a href="#">Edit form</a></small>
      <small><a href="#" style="color:#dc3545">Delete</a></small>
    </h4>
    <div class="card-body">
      {{ health.notes }}
    </div>
  </div>

  {% empty %}
    <p>There are no forms for this pet yet.</p>
  {% endfor %}

{% endblock content %}
