{% extends 'pet_health_tracker/base.html' %}


{% block title %}
  Pet List
{% endblock title %}

{% block content %}
<div class="card border-success">
  <div class="card-header pt-4 ps-4">
    <h3 >{{ request.user }}'s Pet List</h3>
  </div>

    <div class="card-body mb-2 pt-4">
      {% for pet in pet_names %}
      <div class="container">
        <div class="row row-cols-3">

        <div id="div_pet_name" class="col-6">
          <a href="{% url 'pet_health_tracker:pet_health' pet.id %}">{{ pet }}</a>
        </div>
        <div id= "div_edit_form"class="col-2 text-end">
          <a class="btn btn-success btn-sm"  href="{% url 'pet_health_tracker:edit_pet_name' pet.id %}">Edit Pet Info</a>
        </div>
        <div id= "div_edit_form" class="col-4 text-end">
          <a class="btn btn-primary btn-sm"  href="{% url 'pet_health_tracker:pet_tracker' pet.id %}">Add health form</a>
        </div>

      </div>
    </div>

          {% empty %}
            <h2>No pets have been added to your account yet.</h2>
          {% endfor %}

          <div id="add_new_pet" class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-secondary" href="{% url 'pet_health_tracker:add_pet' %}" >Add a new pet</a>
          </div>
      </div>
    </div>






{% endblock content %}
