{% extends 'pet_health_tracker/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {{pet_name.pet_name}}
{% endblock title %}


{% block content %}
<div class="card border-success">
  <div class="card-header pt-4">
    <div class="row">
      <div class="col-4">
        <h2 id="div_pet_tracker">{{pet_name.pet_name}}</h2>
      </div>

      <div class="col-6">
        <a href="{% url 'pet_health_tracker:pet_names' %}" class="btn btn-primary">Home</a>

      </div>

    </div>

  </div>

  <div class="card-body mb-2 pt-4">
    <form action="{% url 'pet_health_tracker:pet_tracker' pet_name.id %}" method="post">
      {% csrf_token %}
      {{ form.tracking_type|as_crispy_field }}
      <div class="row">
        <div class="group col-md-4 mb-0">
          {{ form.pet_weight|as_crispy_field}}
        </div>
        <div class="group col-md-4 mb-0">
          {{ form.pet_temp|as_crispy_field}}
        </div>
        <div class="group col-md-4 mb-0">
          {{ form.pet_glucose|as_crispy_field}}
        </div>
      </div>
      <div class="row">
        <div class="group col-md-4 mb-0">
          {{ form.solid_stool|as_crispy_field}}
        </div>
        <div class="group col-md-4 mb-0">
          {{ form.healthy_appetite|as_crispy_field}}
        </div>
        <div class="group col-md-4 mb-0">
          {{ form.healthy_coat|as_crispy_field}}
        </div>
      </div>
      <div class="row">
        <div class="group col-md-4 mb-0">
          {{ form.range_of_motion_exercises|as_crispy_field}}
        </div>
        <div class="group col-md-4 mb-0">
          {{ form.ongoing_meds|as_crispy_field}}
        </div>
        <div class="group col-md-4 mb-0">
          {{ form.acupuncture|as_crispy_field}}
        </div>
      </div>
      <div class="row">
        <div class="group col-md-4 mb-0">
          {{ form.laser_therapy|as_crispy_field}}
        </div>
        <div class="group col-md-4 mb-0">
          {{ form.adjustment|as_crispy_field}}
        </div>
        <div class="group col-md-4 mb-0">
          {{ form.surgery|as_crispy_field}}
        </div>
      </div>

      {{ form.special_notes_for_next_time|as_crispy_field }}
      {{ form.notes|as_crispy_field }}
      
      <br>
          <button class="btn btn-secondary" name="submit">Add form</button>

    </form>
  </div>
</div>

{% endblock content %}
