{% extends 'pet_health_tracker/base.html' %}

{% block title %}
  Pet
{% endblock title %}

{% block content %}

  {% for pet in pet_names %}
    <h6 class="display-6">
      <a href="{% url 'pet_health_tracker:pet_health' pet.id %}">{{ pet }}</a>
    </h6>
    <a class="btn btn-primary"  href="{% url 'pet_health_tracker:pet_tracker' pet.id %}">Add form</a>
  {% empty %}
    <h2>No pets have been added to your account yet.</h2>
  {% endfor %}


  <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-secondary" href="{% url 'pet_health_tracker:add_pet' %}" >Add a new pet</a>
  </div>


{% endblock content %}
